/* * {
  background-color: beige;
} */

.doctor-card{
  height: 300px;
  width: 220px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  padding: 5px;
  background: #f8f9fa;
}

.doctor-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.patient-card{
  height: 500px;
  width: 220px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  padding: 5px;
  background: #f8f9fa;
}

.button{
  border-radius: 20px;
  width: 80%;
  height: 40px;
  margin: 5px;
}

.profile{
  margin: 5px;
  height: 40px;
  /* width: 40px; */
  border-radius: 10px;
  border: 1px solid black;
}
label{
  display: inline-block;
  width: 200px;
}
.DoctorConsultant-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: beige;
}
.DoctorConsultant-inner{
  border: 1px solid black;
    width: 400px;
    padding: 10px;
  border-radius: 10px;
  background: #f8f9fa;

}
.DoctorConsultant-button{
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DoctorSignup{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: beige;
}
.HomeDiv{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}
.Home-inner{
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

input{
  border: 2px solid black;
  border-radius: 3px;
  height: 20px;
  margin: 5px;
}

button{
  border: 2px solid black;
  border-radius: 3px;
  padding: 6px;
  background-color: black;
  color: white;
  margin: 2px;

}

textarea{
  border: 2px solid black;
  border-radius: 3px;
  height: 100px;
  margin: 5px;
}

/* .input-div{
  border: 2px solid black;
  background: #f8f9fa;
} */